doctype html
| Upload your CSV file here
head
  title Upload
  
form(method='post', enctype='multipart/form-data',action='/home/doc-upload/uploader')
  input#txtFileUpload(type='file' name='File Upload' accept='.csv')
  input(type='submit')
